<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856326535455-71631j3cacvirap9239b5p53hjdcfiqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856326535455-71631j3cacvirap9239b5p53hjdcfiqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856326535455-dsi8iqnm0a39go2oqump9h63uj8ha91s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgTPOY_K8TAzb0qKwE7ZByXzPDXTobZwU</string>
	<key>GCM_SENDER_ID</key>
	<string>856326535455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.elevatedsoft.tictacadvanced</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-advanced-658c3</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-advanced-658c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856326535455:ios:8b357e64a717e9f257d82a</string>
</dict>
</plist>